
<mat-sidenav-container>
<mat-sidenav #sidenav (keydown.escape)="close('escape')" id="side-navigation-bar">    
  <div >
    <img src="../assets/back-img.png" alt="" class="side-opt-back-img" (click)="close('toggle button')" >
  </div>
  <div class="side-option">Convert</div>
  <div class="side-option">Latest</div>
  <div class="side-option">About Us</div>
</mat-sidenav>

<mat-sidenav-content>
    
<div class="header-wrapper">
    <img src="../assets/side-option.png" alt="" class="side-opt-img" (click)="sidenav.open()" >
    Exchange Currency
</div>

<div class="outerWrapper">
  <div class="row">
    <mat-form-field>
      <mat-select placeholder="Country" [(ngModel)]="currentCountryCode" (selectionChange)="loadLatest()">
        <mat-option *ngFor="let code of countryArr" [value]="code">
          {{countryJson[code].country}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->
  </div>

  <ng-scrollbar class="row currency-table">
    <table mat-table [dataSource]="latestRate" class="mat-elevation-z8" id="rateTable">
      <ng-container matColumnDef="flag">
        <th mat-header-cell *matHeaderCellDef class="table-header-lbl">Country</th>
        <td mat-cell *matCellDef="let rateObj">
           <img [src]="getFlagPath(rateObj.code)" alt="" class="flag-img" >
        </td>
      </ng-container>
      
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef class="table-header-lbl">Currency Code</th>
        <td mat-cell *matCellDef="let rateObj"> {{rateObj.code}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="table-header-lbl">Currency Name</th>
        <td mat-cell *matCellDef="let rateObj"> {{getCurrencyName(rateObj.code)}} </td>
      </ng-container>

      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef class="table-header-lbl">Today's Rate</th>
        <td mat-cell *matCellDef="let rateObj"> {{rateObj.rate}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-scrollbar>
</div>

<div class="footer-wrapper">
  Made with ❤️ in India ★ By Sunit Naik
</div>
</mat-sidenav-content>
</mat-sidenav-container>