@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Signika');

*{
    font-family: 'Signika', sans-serif!important;
}

html,body{
    height: 100%;
    margin: 0px;
    width: 100%;
}